*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1501px;
}
.all_fonts .inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Header */

.header_section{
  color: #FFFFFF;
  width: 1501px;
}
.nav_section{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid red;
}
.nav_section .logo{
  width: 139px;
  padding: 16px;
}
.nav_section .nav_items{
  display: flex;
  gap: 32px;
  padding: 34px;
}
.nav_items a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500px;
}
.nav_section .nav_btn{
  background-color: #469165;
  padding: 12px 16px;
  margin: 24px;
  font-size: 16px;
  font-weight: 500px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}
.nav_btn:hover{
  background-color: black;
  cursor: pointer;
}

/* Banner */

.banner{
  background-image: url(../images/hero-bg.png);
  width: 1501px;
  height: 665px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 133px 120px 197px 120px;
}
.banner .banner_text{
  width: 1360px;
  /* height: 495px; */
  margin: 0 auto;
  /* border: 1px solid white; */
  padding: 133px 197px;
}
.banner_text .banner_button_top{
  background-color: #FFFFFF;
  color: #469165;
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
}
.banner_button_top:hover{
  cursor: pointer;
  background-color: #596275;
  color: white;
}
.banner_text h1{
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.banner_text span{
  color: #469165;
}
.banner_text P{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.banner_text .banner_left_button{
  background-color: #469165;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500px;
  color: #FFFFFF;
  margin-right: 16px;
}
.banner_left_button:hover{
  background-color: black;
  cursor: pointer;
}
.banner_text .banner_right_button{
  border: none;
  padding: 16px 15px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid white;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500px;
}
.banner_right_button:hover{
  background-color:#227093;
  cursor: pointer;
  color: #000000;
}